
<header
class="flex justify-around items-center h-[80px] bg-white fixed top-0 left-0 right-0 shadow-sm"
>
<span class="flex justify-center items-center text-xl">
  <img src="/images/img/piz1.jpg" class="w-[70px] pr-5" alt="" />
  <h2 class="font-bold">Pizza</h2>
</span>
<ul class="flex justify-around items-center pl-5">
  <li class="pr-4 hover:text-red-600 font-semibold">
    <a href="/" class="">Home</a>
  </li>
  <li class="pr-4 hover:text-red-600 font-semibold">
    <a href="#">Offers</a>
  </li>
  <li class="pr-4 hover:text-red-600 font-semibold">
    <a href="/register">Register</a>
  </li>
  <li class="pr-4 hover:text-red-600 font-semibold">
    <a href="/login">Login</a>
  </li>

  <span
    class="w-20 h-10 bg-orange-500 flex justify-center items-center rounded-3xl text-white"
  >
    <a href="#">
      <img src="/images/img/cart.png" alt="" />
    </a>
  </span>
</ul>
</header>