
    <section
    class="flex justify-around items-center min-h-screen overflow-auto pt-[50px] bg-zinc-100"
  >
    <div class="flex-col justify-center items-center">
      <p class="italic text-xl">Are you hungry ?</p>
      <h1 class="text-[4rem] font-bold">Dont't Wait !</h1>
      <button
        class="bg-orange-500 pl-4 pr-4 pt-2 pb-2 rounded-3xl text-white font-semibold mt-5"
      >
        Order Now
      </button>
    </div>

    <img src="/images/img/pizza.png" class="h-[550px]" alt="" />
  </section>