<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <body>
    
    <%- body -%>
  </body>
</html>
