
<% layout('../base.ejs') -%>

<div class="container w-100 min-h-screen flex justify-center items-start">

    <div class="main w-[900px] min-h-[300px] h-auto mt-[100px]">
        <h2>My Orders</h2>
        <div class="order_list">
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                      <table class="min-w-full mt-5">
                        <thead class="bg-white border-b">
                          <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                              Or No.
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                              Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                              No of Pcs
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                              Booked Date
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class=" border-b odd:bg-white even:bg-orange-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">fdfbj3bfdb55dfbdsf</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              Makhisma
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              2
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              22-05-2022
                            </td>
                           
                          </tr>
                          
                          <tr class=" border-b odd:bg-white even:bg-orange-100">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">fdfbj3bfdb55dfbdsf</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              Makhisma
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                              1
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap flex">
                              26-05-2022
                            </td>
                           
                            
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

</div>

